.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursive {
  font-family: 'Amatic SC', cursive;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.about-overlay {
  position: absolute;
  width: 615px;
  height: 330px;
  background-color: #000a;
  left: 12%;
}

.coffee-icon {
  height: 72px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(253, 230, 138, 50);

  &:hover {
    background-color: #795f18ad;
  }
}

.nav-black {
  &-bg {
    background-color: rgba(10, 10, 10, 1);
  }
  &-text {
    color: rgba(10, 10, 10, 1);
  }
}

@media screen and (max-width: 768px) {
  .home-page-image {
    object-fit: cover;
    height: 1024px;
    object-position: 60% 50%;
  }

  .about-overlay {
    top: 32%;
  }
}

@media screen and (max-width: 375px) {
  .home-page-image {
    object-fit: cover;
    height: 800px;
    object-position: 75% 50%;
  }

  .home-name {
    margin: 0 auto;
    font-size: 100px;
  }
}
